.content-allemployees {
    width: 76%;
    margin: 3% 12%;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
  }
  
  .card {
    width: calc(45% - 10px);
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
  }
  
  /* .left-section-allemployees,
  .right-section {
    flex: 1; 
    padding: 0 10px;
  } */

  .left-section-allemployees{
    padding: 10px;
    width: 60%; 
    box-sizing: border-box;
    overflow-wrap: break-word;
  }
  
  .right-section{

    padding: 10px;
    width: 40%; /* Adjust this value as needed */
    box-sizing: border-box;
    overflow-wrap: break-word;

  }
  /* .left-section-allemployees{
    margin-right: 50px;
  } */

  .right-section .emp-id{
    margin-bottom: 13%;
  }
  
  
  .field {
    margin: 5px 0;
    font-size: 14px;
  }
  
  .larger {
    font-size: 22px;
    font-weight: bold;
  }
 .smaller{
    font-size: 12px;
 }

 .assign-button {
  background-color: #337CCF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px; 
    transition: background-color 0.3s;
  }
  
  .assign-button:hover {
    background-color: darkgray;
  }

  