.content {
    width: 70%;
    margin: 3% 15%;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
  }
  
  .card {
    width: calc(45% - 10px);
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
  }
  
  .left-section,
  .right-section {
    flex: 1;
    padding: 0 10px;
  }
  
  .field {
    margin: 5px 0;
    font-size: 14px;
  }
  
  .larger {
    font-size: 22px;
    font-weight: bold;
  }
 .smaller{
    font-size: 12px;
 }

 .right-section .employee-id {
    margin-top: 0%;
    font-weight: bold;
 }

 #projectName{
    width: 100%;
    border: none;
 }

 