.custom-multi-select {
  position: relative;
  width: 90%;
  margin-bottom: 3px;
}
.dropdown {
  border: 1px solid #ccc;
  padding: 6px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  padding: 7px;
  border: 0.8px solid;
}
.selected-values {
  flex: 1;
  font-size: 17px;
}
.dropdown-arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #333;
}
.dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  background-color: #fff;
  z-index: 1;
  display: none;
}
.dropdown.open + .dropdown-options {
  display: block;
}
.dropdown-option {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}
.dropdown-option:hover {
  background-color: #337ccf;
  color: white;
}
.selected {
  background-color: #337ccf;
  color: #fff;
  font-size: 14px;
  margin-bottom: 3px;
}
